{%extends "master.html"%}{% block title%}Student list{%endblock title%}{% block content%}
<h1 class="text-center mt-3 mb-3">Students list</h1>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Course</th>
      <th scope="col">Enroll Date</th>
    </tr>
  </thead>
  </tbody>
  {% for student in students %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ student.name }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.course }}</td>
    <td>{{ student.enroll_date }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{%endblock content%}