{% extends "master.html" %}

{% block title %}
Student Details
{% endblock title %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">Student Details</h2>

    <table class="table table-bordered">

        <tr>
            <th>Name</th>
            <td>{{ student.name }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ student.email }}</td>
        </tr>

        <tr>
            <th>Course</th>
            <td>{{ student.course }}</td>
        </tr>

        <tr>
            <th>Enroll Date</th>
            <td>{{ student.enroll_date }}</td>
        </tr>

    </table>

    <a href="{% url 'homepage' %}" class="btn btn-primary">
        Back
    </a>

</div>

{% endblock content %}